:root {
    --bg-accent: #2f3136;    /* Background accent color */
    --bg-secondary: #242526; /* Secondary background color */
    --text-color: #dadce1;   /* Text color */
}

/* Container for general home page title layout */
.home-page-title-general-container {
    display: flex; /* Display children in a flex layout */
}

/* Container for home page title card */
.home-page-title-card-container {
    background-color: transparent; /* Set background color as transparent */
    display: flex;                 /* Display children in a flex layout */
    width: 35vw;                   /* Set width as 35% of viewport width */
    box-shadow: none;              /* Remove shadows */
    border: none;                  /* Remove borders */
}

/* Styling for home page title */
.home-page-title {
    text-align: left; /* Align text to the left */
}
