/* Styling for individual fancy blur button */
.fancy-blur-button {
    all: unset;           /* Reset all properties so we got a fresh button */
    margin-bottom: 1vh;   /* Margin bottom for spacing */
    min-width: 7vw;       /* Responsive minimum width of 7vw since that seems reasonable*/
    width: auto;          /* Let the width adjust to fit the text inside */
    height: 5.2vh;        /* Responsive height */
    font-size: 2.3vh;     /* Responsive font size */
    position: relative;   /* Position relatively */
    cursor: pointer;      /* Change cursor to pointer on hover */
    z-index: 1;           /* Set z-index for stacking the blur box*/
    padding: 10px 20px;   /* Padding for button content */
    display: flex;        /* Display children in a flex layout */
    align-items: center;  /* Center align vertically */
    justify-content: center; /* Center align horizontally */
    white-space: nowrap;  /* Prevent line breaks */
    user-select: none;    /* Prevent user selection */
}

/* Pseudo-elements for button effects */
.fancy-blur-button::after,
.fancy-blur-button::before {
    content: '';             /* Empty content */
    position: absolute;      /* Position absolutely */
    bottom: 0;               /* Align at the bottom */
    right: 0;                /* Align at the right */
    z-index: -99999;         /* Set z-index for background */
    transition: all .4s;     /* Transition effect */
    border: 1px solid green; /* Border with green color */
}

/* Pseudo-element before button */
.fancy-blur-button::before {
    transform: translate(0%, 0%); /* Initial transformation */
    width: 100%;                  /* Full width */
    height: 100%;                 /* Full height */
    background: #28282d;          /* Background color */
    border-radius: 10px;          /* Rounded corners */
}

/* Pseudo-element after button */
.fancy-blur-button::after {
    transform: translate(10px, 10px); /* Initial transformation */
    width: 60px;                       /* Width */
    height: 30px;                      /* Height */
    background: rgba(255, 255, 255, 0.082); /* Background color */
    border-radius: 10px;               /* Rounded corners */
}

/* Hover effect for pseudo-element before button */
.fancy-blur-button:hover::before {
    transform: translate(5%, 28%); /* Transformation on hover */
    width: 110%;                   /* Width on hover */
    height: 110%;                  /* Height on hover */
}

/* Hover effect for pseudo-element after button */
.fancy-blur-button:hover::after {
    border-radius: 10px;   /* Rounded corners on hover */
    transform: translate(0, 0); /* Transformation on hover */
    width: 100%;           /* Width on hover */
    height: 100%;          /* Height on hover */
}

/* Active effect for pseudo-element after button */
.fancy-blur-button:active::after {
    transition: 0.2s;      /* Transition effect */
    transform: translate(0, 10%); /* Transformation on active */
}