/* Styling for individual outline button */
.outline-button {
    appearance: none; /* Remove default styling */
    border: 2px solid #1A1A1A; /* Border with 2px width and color */
    border-radius: 15px; /* Rounded corners */
    box-sizing: border-box; /* Include borders in element dimensions */
    color: white; /* Text color */
    cursor: pointer; /* Change cursor to pointer on hover */
    display: inline-block; /* Display as inline-block element */
    font-family: Roobert, sans-serif; /* Font family */
    font-size: 2.8vh; /* Font size */
    font-weight: 600; /* Font weight */
    line-height: normal; /* Reset line height */
    margin: 0; /* Reset margin */
    min-height: 60px; /* Minimum height */
    min-width: 200px; /* Minimum width */
    outline: none; /* Remove outline when focused */
    padding: 16px 24px; /* Padding inside the button */
    text-align: center; /* Center-align text */
    text-decoration: none; /* Remove text decoration */
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1); /* Transition effect */
    user-select: none; /* Prevent user selection */
    touch-action: manipulation; /* Optimize touch interactions */
    width: 100%; /* Full width */
    will-change: transform; /* Inform the browser about transform changes */
}

/* Outline color variations */
.outline-button.blue-outline {
    border-color: #0051ff; /* Blue outline color */
}

.outline-button.red-outline {
    border-color: red; /* Red outline color */
}

/* Hover effect */
.outline-button:hover {
    color: #fff; /* Text color on hover */
    background-color: #1A1A1A; /* Background color on hover */
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px; /* Shadow on hover */
    transform: translateY(-2px); /* Lift the button slightly on hover */
}

/* Active effect */
.outline-button:active {
    box-shadow: none; /* Remove shadow on click */
    transform: translateY(0); /* Reset vertical position on click */
}
