:root {
    --bg-accent: #2f3136;
    --bg-secondary: #242526;
    --text-color: #dadce1;
}

.home-page-categories-general-container {

}

.home-page-categories-card-container {
    background-color: var(--bg-secondary);
    width: 50vw;
    box-shadow: none; /* Remove shadows */
    border: none;
}

.home-page-categories{
    text-align: left;
}




