.hero-container {
    position: relative; /* Position the container relatively */
    height: 400px;      /* Set the desired height of the hero section */
}

/* Styling for hero content */
.hero-content {
    display: flex;             /* Display children in a flex layout */
    align-items: center;       /* Center align vertically */
    justify-content: center;   /* Center align horizontally */
    height: 100%;              /* Occupy full height of the container */
    color: white;              /* Set text color to white */
    text-align: center;        /* Center align text */
}

/* Styling for hero title text */
.hero-title-text {
    font-size: 75px;                   /* Set font size */
    font-weight: 600;                  /* Set font weight */
    background-image: linear-gradient(to left, #559a3c, #6f4297); /* Set background gradient */
    color: transparent;                /* Make text color transparent */
    background-clip: text;             /* Apply background to the text */
    opacity: 1;                        /* Set opacity to 1 */
    -webkit-background-clip: text;     /* Apply background to text for Safari */
}