:root {
    --bg: #242526;                   /* Background color */
    --bg-accent: #484a4d;            /* Background accent color */
    --text-color: #dadce1;           /* Text color */
    --nav-size: 70px;                /* Navigation bar height */
    --border: 1px solid #474a4d;     /* Border color */
    --border-radius: 8px;            /* Border radius */
    --speed: 500ms;                  /* Transition speed */
}

/* Container for general card layout */
.card-container {
    display: flex;                   /* Display children in a flex layout */
    justify-content: center;         /* Center align horizontally */
    align-items: center;             /* Center align vertically */
}

/* Styling for individual card */
.card {
    background-color: var(--bg-accent); /* Set background color */
    border-radius: var(--border-radius); /* Set border radius */
    box-shadow: 0 0 20px rgba(0, 0, 0, 2); /* Add box shadow */
    color: var(--text-color);        /* Set text color */
    padding: 1rem;                   /* Set padding */
    margin: 1rem;                    /* Set margin */
    width: 25rem;                    /* Set width */
}

/* Styling for switch */
.switch {
    position: relative;              /* Set position to relative */
    display: inline-block;           /* Display as inline-block element */
    width: 160px;                    /* Set width */
    height: 34px;                    /* Set height */
    float: left;                     /* Float to the left */
}

/* Styling for navigation bar */
.navbar {
    background: linear-gradient(70deg, #242526, rgba(5, 43, 10, 0.91),#242526,#242526,#242526,#242526,#242526, #242526); /* Set gradient background */
    height: var(--nav-size);         /* Set height */
    width: 100%;                     /* Set width */
    border-bottom: var(--border);    /* Set border at the bottom */
    position: sticky;                /* Make the navbar sticky */
    top: 0;                          /* Stick to the top */
}

/* Styling for navigation links in the navbar */
.navbar-nav .nav-link {
    color: var(--text-color);        /* Set text color */
    font-size: 22px;                 /* Set font size */
    font-weight: 350;                /* Set font weight */
    padding: 0.5rem 1rem;            /* Set padding */
    margin: 0 0.5rem;                /* Set margin */
    display: flex;                   /* Display children in a flex layout */
    align-items: flex-end;           /* Align items to the bottom */
    height: 100%;                   /* Occupy full height */
}

/* Styling for navbar brand */
.navbar-brand {
    color: var(--text-color);        /* Set text color */
    font-size: 1.5rem;               /* Set font size */
    height: 100%;                   /* Occupy full height */
    display: flex;                   /* Display children in a flex layout */
    align-items: center;             /* Align items vertically */
    padding: 0 1rem;                 /* Set padding */
}
