:root {
    --bg-accent: #2f3136;        /* Background accent color */
    --bg-secondary: #484a4d;     /* Secondary background color */
    --text-color: #dadce1;       /* Text color */
    --border: 1px solid #474a4d; /* Border color */
    --border-radius: 3px;        /* Border radius */
}

/* Container for general events panel layout */
.events-panel-general-container {
    display: flex; /* Display children in a flex layout */
}

/* Styling for individual events panel */
.events-panel {
    background-color: var(--bg-secondary);  /* Set background color */
    color: var(--text-color);               /* Set text color */
    height: 100vh;                          /* Set height as 100% of viewport height */
    border-radius: 0;                       /* Remove rounded borders */
    margin: 0;                              /* Remove margins */
    padding: 0;                             /* Remove padding */
    display: flex;                          /* Display children in a flex layout */
    align-items: flex-start;                /* Align contents to the top */
    flex-grow: 1;                           /* Take remaining space */
    box-shadow: none;                       /* Remove shadows */
    width: 26vw;                            /* Set width to 26% of viewport width */
    overflow: hidden;                       /* Hide overflow content */
}