:root {
    --bg-accent: #2f3136;        /* Background accent color */
    --bg-secondary: #242526;     /* Secondary background color */
    --text-color: #dadce1;       /* Text color */
    --border: 1px solid #474a4d; /* Border color */
    --border-radius: 3px;        /* Border radius */
}

/* Container for general home page layout */
.home-page-general-container {
    display: flex; /* Display children in a flex layout */
}

/* Styling for individual home page panel */
.home-page-panel {
    background-size: cover; /* Set background size to cover */
    background: linear-gradient(70deg, #242526, #242526, #242526, rgba(5, 43, 10, 0.91), #242526, #242526, #242526, #242526, #242526, #242526, rgba(67, 36, 94, 0.87), #242526) ; /* Set gradient background */
    position: absolute; /* Position the element absolutely */
    color: var(--text-color); /* Set text color */
    height: 100vh; /* Set height as 100% of viewport height */
    width: 100vw; /* Set width as 100% of viewport width */
    border-radius: 0; /* Remove rounded borders */
    margin: 0; /* Remove margins */
    padding: 0; /* Remove padding */
    overflow: hidden; /* Hide overflow content */
}