:root {
    --bg-accent: #2f3136;        /* Background accent color */
    --bg-secondary: #484a4d;     /* Secondary background color */
    --text-color: #dadce1;       /* Text color */
    --border: 1px solid #474a4d; /* Border color */
    --border-radius: 3px;        /* Border radius */
}

/* Container for general job apply layout */
.job-apply-general-container {
    display: flex; /* Display children in a flex layout */
}

/* Styling for individual job apply panel */
.job-apply-panel {
    background-color: var(--bg-secondary); /* Set background color */
    color: var(--text-color);              /* Set text color */
    height: 100vh;                         /* Set height as 100% of viewport height */
    width: 49vw;                           /* Set width to 49% of viewport width */
    border-radius: 0;                      /* Remove rounded borders */
    margin: 0;                             /* Remove margins */
    padding: 0;                            /* Remove padding */
    display: flex;                         /* Display children in a flex layout */
    box-shadow: none;                      /* Remove shadows */
    border-right: 1px solid dimgray;       /* Change color and thickness of right border */
    overflow: hidden;                      /* Hide overflow content */
}