:root {
    --bg-accent: #2f3136;        /* Background accent color */
    --bg-secondary: #484a4d;     /* Secondary background color */
    --text-color: #dadce1;       /* Text color */
    --border: 1px solid #474a4d; /* Border color */
    --border-radius: 3px;        /* Border radius */
}

/* Container for general event card layout */
.events-card-general-container {
    display: flex; /* Display children in a flex layout */
}

/* Styling for individual event cards */
.events-card {
    background-color: var(--bg-accent);    /* Set background color */
    border-radius: var(--border-radius);   /* Use custom border radius */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6); /* Add a shadow effect */
    color: var(--text-color);              /* Set text color */
    padding: 1rem;                         /* Add padding around the content */
    margin: 1rem 1rem 1rem 7px;            /* Set margins (top, right, bottom, left) */
    width: 23vw;                           /* Set width as a percentage of viewport width */
}

/* Styling for event apply button */
.event-apply-button {
    border: 1px solid green;               /* Set border style */
    color: white;                          /* Text color */
    padding: 10px 20px;                    /* Set padding (vertical, horizontal) */
    text-align: center;                    /* Center-align text */
    text-decoration: none;                 /* Remove default text decoration */
    font-size: 14px;                       /* Set font size */
    cursor: pointer;                       /* Change cursor to pointer on hover */
    transition-duration: 0.4s;              /* Set transition duration */
    margin: 0 auto;                        /* Center horizontally */
    display: block;                        /* Change to block element for centering */
}

/* Hover effect for event apply button */
.event-apply-button:hover {
    background: rgba(144, 238, 144, 0.15); /* Change background color on hover */
    padding: 12px 24px;                    /* Adjust padding on hover */
    box-shadow: 0 10px 14px 0 rgba(0, 0, 0, 0.24), 0 15px 40px 0 rgba(0, 0, 0, 0.19); /* Add shadow on hover */
}